@import "./variables";

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body{

	background-color: $primary-color;

	h1{
		color: $text-color;
	}
}